{% extends 'base.html.twig' %}

{% block body %}
    <h3>Game creation</h3>

    {{ form_start(form , { 'attr': {'style':  'color: black;'}}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

        <br><a class="toEdit" href="{{ path('app_game_shownext') }}">Back to the list</a>
{% endblock %}
